.shade {    
    width: 25px;
    height: 25px;
    box-shadow: 0px 8px 20px #BDBDBD; 
    text-align: center;
} 

.selected {    
    width: 30px;
    height: 30px;
}

.tick {    
    transform: scale(0.8);
    margin-top: 10%;
} 

@media only screen and (max-width: 600px) { 
    .shade-box {
        margin-bottom: 5%; 
        width: 33.33% !important;
    }
} 